.App {
    text-align: center;
  }

.responsive {
  width: 100%;
  height: auto;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 16px;
  border-bottom: 2px solid #3A3A3C;
  margin-bottom: 0.5rem;
  padding: 0.5px;
}
.menu-right {
  display: flex;
  width: 70px;
  justify-content: flex-end;
}
.menu-left {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 70px;
  justify-content: flex-start;
}
.App-header {
    background-color: #121213;
    min-height: 3vh;
    border-top: 2px solid #3A3A3C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin); 
    /* font-size: 16px; */
    /*font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;*/
    font-family: "Anton", sans-serif;
    font-weight: 800;
    color: white;    
  }
.App-footer{
    bottom: 0;
    width: 100%;
    text-align: center;
}
.App-link {
    color: white;
    background-color: #B59F3B;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
}
.App-body {
    background-color: #121213;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.profile-picture{
  width: 150px;
  border-radius: 100px;
  border: 2px solid whitesmoke;
  margin-top: 0px;
  margin-bottom: 0px;
  
}
.game-number {
   font-size: 20px;  
}
thead{
  padding: 40px;
  background: #538D4E;
  
  
}
table{  
  width: 100%;
  height: 100%;
  padding: '10px 10px 10px 10px';
  background: #3A3A3C;
  margin-left: '10px 10px 10px 10px';
  font-weight:bolder;
}
tr{
  color: white;
  height: 40px;
  vertical-align: middle;

 
}
.update-text {
  font-size: 12px;
}
.update-text{
  width:200px;
  height: 50px;
  padding: 15px;	
  text-align: center;
  line-height: 50px;
}

button{
  background-color: transparent;
  border: none;
  color: white;
}
  
.right{
 width: 60%;
 text-align: right;
 font-size: 20px;
}
.screen {
  width: 95%;
  height: auto;
  margin-bottom: 1rem;
}
.screen2 {
  width: 95%;
  height: auto;
  margin-bottom: 1rem;
}

.headerRow {
    color: white;
    background-color: solid #538D4E;
    font-size: 16px;
} 
  
.tableRow{
    color: white;
    background-color: #3A3A3C;
    
}
.oddTableRow{
    color: white;
    background-color: #3A3A3C;
}
.highlightClass{
  background-color: #B59F3B;
}
.selectedTableRow{
  background-color: #B59F3B;
}

.google-visualization-table .gradient {
  background-image: none !important;
  background-color: "#eee";
}

a:link, a:visited {
  
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0em;
  font-weight: 700;
  font-size: 37px;
}
i{
  display: flex;
  align-items: center;  
}
.updatetime{
  color: white;
  font-size: 12px;
}

.information{
  background-color: #538D4E;
  color: white;
  padding: 10px 10px;
  text-align: center;
  margin-top: 5px;
}

.refund{
  background-color: #B59F3B;
  color: white;
  padding: 10px 10px;
  text-align: center;
  margin-top: 5px;
}

/* MODAL CSS */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  background-color: #3A3A3C;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  color: white;
  text-align: center;
  border-radius: 15px;
  
}

.modal-body {padding: 2px 16px;}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  display: inline;
}
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.exitbutton{
  width: 100%;
  text-align: right;
  font-size: 44px;
  margin-top: 0;
  margin-bottom: 0;
  
}
#enter_score{
  background-color: green;
  width: 60%;
  padding: 20px;
  margin: 5px;
}
#home_page{
  background-color: grey;
  width: 60%;
  padding: 20px;
  margin: 5px;
}
#wordle{
  min-height: 50px;
  width: 60%;
}
#player{
  min-height: 50px;
  width: 60%;
  text-align: center;
}
